.login{
    min-height: 100vh;
    background: url(/background.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.login .logo{
    width: max(20vw,200px);
}
.login-form{
    background-color: rgba(231, 231, 231, 0.562);
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 10px;
    gap: 15px;
}
.login-form h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.login-form input{
    border: 1px solid #c9c9c9;
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    outline-color: rgba(179, 95, 239, 0.997);
}
.login-form button{
    background-color: #3f51b5d4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.login-form button:hover{
    background-color: #3f51b5;
}
.login-term{
    display: flex;
    gap: 5px;
    font-size: 15px;
    color: #454444;
}
.login-forgot{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login-toggle{
    color: #454444;
    font-size: 13px;
}
.login-toggle span{
    color: #2d40a9;
    font-weight: 500;
    cursor: pointer;
}